[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pymongo = "*"
python-dotenv = "*"
uvicorn = {extras = ["standard"], version = "*"}
passlib = "*"
bcrypt = "*"
python-jose = "*"
python-multipart = "*"
psycopg = {extras = ["binary", "pool"], version = "*"}

[dev-packages]
black = "*"
isort = "*"

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = true
